[2015-04-22 16:07] The-Compiler opened #1 "Option to always report logs"
Hi!

In 19ff0645a910a0a7d545e7e0baf7eed350ddb93c you mention:

For my project, I use a buildbot which marks the tests as "warning" when there was logging output. I also use debug logging a lot, so ideally I'd be able to do something like this:
- Report log entries with debug/info level when a test failed.
- Always report log entries with warning/error/critical levels.

If something like that would

[2015-04-22 20:50] eisensheng commented on #1
Hi!

Thanks for your input. My memory on this project is a little cloudy. IIRC the primary need for me to work on this library was the requirement to ensure that the application logs certain events and thus the log lines had to be caught. Now you're proposing a second use case for this library to catch any log lines and output logs for failing tests.

I like the idea since it seems to me to be ver

[2015-04-22 21:24] The-Compiler commented on #1
I agree with the first three points! So the only thing needed from an UI perspective would be some option to set a minimum loglevel to always show, right?

For the fourth point, that's not what I'm proposing - I just want to see the log output on stdout, and my CI will interpret that as "warnings" (as opposed to success/failure). So from the perspective from a pytest-catchlog user, the tests will

[2015-04-22 22:01] eisensheng commented on #1
Yes. :smiley:

That's also okay. I guess everything has been settled then. I wish you good luck and some fun on coding. :wink:

[2015-07-01 08:51] The-Compiler opened #3 "__multicall__ being deprecated in upcoming pytest release"
When using pytest-catchlog with pytest from [their git repo](https://github.com/pytest-dev/pytest) and `-rw` (show warnings), I get:

[code]

[2015-07-01 08:53] The-Compiler commented on #1
Just a small update: I didn't have time to work on this so far - and I'm also wondering about alternative solutions so this will work without the CI setup as well (like an option or maybe a separate plugin which fails a test when there are unexpected log messages).

[2015-07-20 23:50] sontek opened #4 "Document why there is a fork and why catchlog is better"

[2015-07-26 12:51] thedrow commented on #4
Yes please. I was wondering the same.

[2015-07-26 13:45] eisensheng commented on #4
Maybe I could gather some arguments and you could tell me if they are good enough to be documented:
- Dead upstream. I can offer to review and merge open PR every weekend or at least every other weekend. The original project has some PR laying around for far too long.
- Evolved feature set and bug fixes. Easier comparison to logged values 1c10253fb3c8d40c96600ec71363e7f8be3ad1c6 for example and a

[2015-08-09 18:23] The-Compiler commented on #1
I ended up writing some code to fail a test when there's an unexpected logging message - so I'm afraid I won't work on this anymore, so I'm closing it.

[2015-08-09 18:23] #1 closed, assigned to nobody

[2015-08-18 21:01] The-Compiler commented on #4
Adding this here as it seems to be related: We discussed at EuroPython if we should add catchlog/capturelog-like functionality to pytest itself. Another possibility would be to move `catchlog` under the @pytest-dev organization to make sure someone could easily continue maintaining it if @eisensheng isn't able/willing to do so anymore.

See https://github.com/pytest-dev/pytest/issues/946 for some

[2015-08-18 21:07] eisensheng commented on #4
I'm also all fine with moving the repository under the pytest-dev organization and handing over the maintenance to a broader community. Like I said I'm all in for accepting merge requests and this promise was made to keep this plugin alive. Moving into the organization seems to be the best option to achieve this goal. Just let me know what I have to do and I'll be glad to cooperate.

[2015-08-26 09:13] thedrow opened #5 "Fold output when running under travis"
Some times a failing test has too many logs and we'd like to see the failure and that's it.
Folding output can be done by printing fold markers e.g.:

[code]

[2015-09-22 18:15] The-Compiler commented on #4
Sorry for not coming back to this earlier - it got lost somehow and I was happy with pytest-capturelog until pytest 2.8 came out with deprecated `__multicall__` :wink:

So, let's move this under pytest-dev then, if you still agree?

See the [necessary steps in the pytest docs](http://pytest.org/latest/contributing.html#submit-a-plugin-co-develop-pytest). I think you fulfill all the requirements, s

[2015-09-22 18:54] eisensheng commented on #4
Sounds like a plan. I would suggest to follow these instructions once #7 has been merged since it adds a real nice round of features and will also fix the deprecated use of `__multicall__`.

@abusalimov, if you like and agree, I would also love to have you as a maintainer on this package since you contributed far more to this project compared to what I did.

[2015-09-22 19:07] eisensheng commented on #5
I thought about this feature for a while and I must say that it sounds useful. I'm also using travis-ci so I can see where this comes in handy but I must say that I don't see pytest-catchlog as the proper location for this functionality.

It would also be nice to fold other sections like these for stderr and stdout for example. This would go beyond the responsibility of this plugin though. Thus IM

[2015-09-23 05:14] The-Compiler commented on #5
I agree with @eisensheng here, this would best be in a separate plugin. I don't know if it's possible to do that with the hooks exposed by pytest though.

[2015-09-23 16:41] abusalimov commented on #4
@eisensheng Thanks for the kind offer! Let's wait until I finish #7 and come back to discussing the move.

[2015-09-23 19:49] eisensheng commented on #4
@abusalimov okay, enjoy your vacation! I'll provide a documentation for catchlog once the new API lands in develop.

[2015-09-25 11:40] hpk42 opened #8 "merging into pytest-core?"
hello -- i am considering merging capturelog/catchlog functionality into core, see https://mail.python.org/pipermail/pytest-dev/2015-September/003159.html  -- would be great if you participate in the discussion.

[2015-09-25 11:45] The-Compiler commented on #8
We already had some discussions in #4 where we planned to move it to `pytest-dev` after #7 is done. #7 is the PR which improves a lot, but also changes the API in an incompatible way - I already [commented there](https://github.com/eisensheng/pytest-catchlog/pull/7#issuecomment-143120895) about having a compatibility layer, which I guess would be needed for merging it in.

I'm not sure if I person

[2015-09-25 13:06] abusalimov commented on #5
I believe this should be implemented as a separate plugin that would fold stdout/stderr as well. I actually even started to code that some time ago, but didn't try to run it yet, i.e. that's only intended to be a proof-of-concepts, just my thoughts on the issue. Please check out the [gist](https://gist.github.com/abusalimov/fc114197c40485aff660).

[2015-09-26 09:54] thedrow commented on #5
I have no idea how to implement this as a separate plugin. Is there a hook that this plugin provides that I can use?

[2015-10-01 12:32] The-Compiler commented on #3
I'm thinking about fixing this separately from #7 as I really want to switch to pytest 2.8 without getting warnings :wink:

@eisensheng Would you do a new release for me if I fixed this?
@abusalimov Is it okay if I introduce merge conflicts in your PR (sorry!)?

[2015-10-01 13:53] abusalimov commented on #3
@The-Compiler Sorry for delaying this show stopper.

I've stripped out any API-breaking changes from the PR recently, but have not pushed yet because of few failing tests.
I arrived to Prague yesterday and now I have better Internet here and a bit more quite time. I'm going to fix remaining tests and force-push #7 this evening so that you could review the corresponding `__multicall__` fix.

Is it

[2015-10-01 14:08] The-Compiler commented on #3
Ah, awesome! Sounds good to me.

Probably makes sense to move the API/LineMatcher changes to a separate PR anyways as they might take a little bit more time/discussion.

Thanks for all your work on catchlog, I really appreciate it!

[2015-10-01 19:58] eisensheng commented on #3
Too bad. I was all in favour for the API break. We could simply release 1.2 with the feature to pull configuration from the cfg file and a fix for `__multicall__` and introduce the API break with a 2.0 version.

This would also be the safest upgrade path for current users of the original plugin and this fork. (If there are any users of this fork that is …)

[2015-10-01 20:17] abusalimov commented on #3
That doesn't mean that I've thrown all that changes into to a trashcan :recycle:
I was going to suggest them in a separate PR, just not to block #7 for too long.

[2015-10-01 22:45] ionelmc opened #9 "No sdist on PyPI?"
There only seems to be a wheel there ... am I missing something?

[2015-10-01 22:47] ionelmc opened #10 "Lock issue (not sure)"
I have this [weird problem](https://travis-ci.org/pytest-dev/pytest-cov/jobs/83210797#L2232) with pytest-capturelog:

[code]

Can this problem exist in pytest-catchlog?

[2015-10-02 04:17] The-Compiler commented on #9
Indeed, this seems to be the case for 1.1, while the sources are up for 1.0.

[2015-10-02 04:21] The-Compiler commented on #10
It fails [here](https://github.com/eisensheng/pytest-catchlog/blob/develop/pytest_catchlog.py#L122) so there's little pytest-catchlog specific code running here... Can you instantiate a `logging.StreamHandler`?

[2015-10-02 09:08] ionelmc commented on #10
Might be a PyPy issue. And it's only on PyPy. Nevermind ....

[2015-10-02 09:08] #10 closed, assigned to nobody

[2015-10-03 13:46] eisensheng commented on #9
Whoops. I'll fix it right away. I'm sorry for the inconvenience and thanks for reporting.

[2015-10-03 13:48] #9 closed, assigned to nobody

[2015-10-15 19:27] abusalimov commented on #5
Meet [pytest-travis-fold](https://github.com/abusalimov/pytest-travis-fold)!

Add `pip install pytest-travis-fold` step to `.travis.yml` and it will fold captured stdout/stderr for failing tests. Folding also captured logs will be available once #7 is merged and a new version of pytest-catchlog is uploaded to PyPI.

[2015-10-15 19:50] The-Compiler commented on #5
Nice, thanks for that @abusalimov! I added it to my build, and will see how it looks whenever a test fails next time :wink:

[2015-10-15 19:52] abusalimov commented on #5
@The-Compiler You're very welcome!

[2015-10-16 10:53] thedrow commented on #5
@abusalimov Thanks! will it fold logs from catchlog?

[2015-10-16 10:54] The-Compiler commented on #5
@thedrow

[2015-10-17 11:24] #3 closed, assigned to nobody

[2015-10-17 11:38] eisensheng commented on #5
Considering pytest-travis-fold and the fact that #7 finally was merged, I'll close this issue here since it appears to be resolved from my point of view.

[2015-10-17 11:38] #5 closed, assigned to nobody

[2015-10-19 05:53] The-Compiler commented on #4
Now that #7 is merged, I'd say let's do the pytest-dev move and a new release on PyPI? :smile:

[2015-10-19 10:08] eisensheng commented on #4
Yes, definitely. I got distracted half way during the weekend. I registered on the mailing list so far and will continue the steps later today.

[2015-10-19 10:32] The-Compiler commented on #4
Cool, no hurry! Thanks for taking care of this :smile:

[2015-10-19 10:40] abusalimov commented on #4
@eisensheng Do you plan to release a new version before the move, or after? I'd like to address backward compatibility issues before releasing 2.0, so that one could seamlessly migrate from pytest-capturelog to the new version.

BTW, I saw some discussion about the plugin name. May be we should consider renaming to "pytest-logging" or something?

[2015-10-19 10:46] abusalimov commented on #4
Oh, and considering releasing to PyPI, I'd suggest to [automate](http://docs.travis-ci.com/user/deployment/pypi/) it using Travis. Here's how I made it for pytest-travis-fold: abusalimov/pytest-travis-fold@94ab2fd0fd101a60404b995ffb616d94ffde6f5b
The secret key for a password most likely is bound to the owner/name of the repository, so that should probably be done after moving to pytest-dev.

[2015-10-19 10:54] eisensheng commented on #4
If possible I would love to mark the current development state as 1.2 and release it to pypi before the move. This is at least what I planned. If you still have something you would like to have for that 1.2 release then just hand it in and I'll merge it before the release. :smiley:

2.0 will happen after the move though.

I was about to join the discussion since I already registered to the mailing

[2015-10-19 12:22] abusalimov commented on #4
Good plan :+1:
Please, keep it up, I don't have any changesets ready anyway.

[2015-10-30 16:54] ulope opened #12 "Document `atLevel` and `setLevel` rename"
It seems that during the fork the `atLevel` and `setLevel` methods of the `caplog` fixture have been de-camelized to `at_level` and `set_level`. This however is not mentioned in the README.

[2015-10-30 18:28] abusalimov commented on #12
Thanks for reporting this!

We actually have PR #11 addressing backward compatibility issues, it should be merged soon, I hope.

Probably one of the next steps could be to list all differences between the fork and the original plugin. FWIW, there is #4 for that.

[2015-11-08 14:24] abusalimov commented on #4
@eisensheng Now when #11 is merged, is there anything else that prevents us to release v1.2 and upload it to PyPI?

If you don't have enough spare time, maybe I could help you somehow, or @The-Compiler could?

[2015-11-08 22:28] eisensheng commented on #4
Nothing in particular, just my poor time management. :wink: I scheduled 2 Hours today to work on it and I guess I'll keep it like that depending on how well it works and complaints from other parties. So I would like to test out designating 2 hours for work on this project every Sunday whenever something pops up and maintain discussions and issues during the week whenever I find the time.

I publi

[2015-11-09 00:02] abusalimov commented on #4
Thank you!

Looks good to me, except for the tag named without the `v` prefix, i.e. `1.2.0` instead of `v1.2.0`.

Looks nice, though I'm used to use [git-bump](https://github.com/tpope/git-bump) for that. It is quite simple and does roughly the same, except for maintaining the changelog, which, in turn, I've noticed in [bumpversion](https://github.com/peritus/bumpversion) - yet another tool, proba

[2015-11-09 05:20] The-Compiler commented on #4
Awesome! :+1:

You could create a separate PyPI user (say, catchlog-bot or whatever) and use that to do the releases.

However, I'd advise against doing that - IMHO, giving an external service the rights to release your project is a bad thing in itself :wink:. And I don't see any benefits - it's not like you'd do a new release every day, or that it'd be any easier this way than running a script lo

[2015-11-09 08:54] jlec opened #13 "Please included tests in pypi release"
Downstream developer love to test during their installation process. Please include the tests in the pypi tarball.

[2015-11-09 09:04] The-Compiler commented on #12
I think this can be closed as there's #4?

[2015-11-09 10:21] eisensheng commented on #12
Maybe. I forgot to actually document that `atLevel` and `setLevel` are going through a deprecation phase. This should be noted though. I guess this will go in a Patch release before I close the issue.

[2015-11-09 11:14] eisensheng commented on #13
I understand your pain. Testing the integrity of an entire distribution of multiple packages is hard.

My general stance towards PYPI used to be that packages go there to be installed, through PIP for example. Not to be redistributed and tested somewhere else. This is where the release archives provided by Github comes into play.

Since PYPI also offers a "Source Distribution" of the given package

[2015-11-09 12:25] eisensheng commented on #4
I decided to drop the `v` prefix on a whim after looking at other projects how they handle tagging versions. It appears to me to be the cleaner solution since this will result in Github for example calling the source distribution archive `pytest-catchlog-1.2.0.zip`. This pattern appears to be more common when I look around. I also decided to include the patch version in the release even if it's ze

[2015-11-09 12:35] The-Compiler commented on #4
I don't think the `v` prefix is a big deal - I've seen plenty of projects with and without it.

As for releasing, I don't think the exact workflow matters - what's important is that it's documented how to do a proper release, like [HOWTORELEASE.rst](https://github.com/pytest-dev/pytest/blob/master/HOWTORELEASE.rst) for pytest core.

If `pytest-catchlog` gets merged into core, I'm guessing that'd b

[2015-11-09 14:25] jlec commented on #13
Probably you got me wrong. I would like to have the tests contained in the pypi tarball, but _not_ installed using pip. We are fetching the tarball, running `python setup.py build`, running the tests according to how upstreams test (e.g. through travis) and running `python setup.py install`. So we only need the tests contained in the tarball not installed to the system

[2015-11-09 14:28] abusalimov commented on #4
Well, [Pro Git](http://www.git-scm.com/book/en/v2/Git-Basics-Tagging) uses `v` in examples. And it is just what GitHub suggests when [creating](https://github.com/eisensheng/pytest-catchlog/releases/new) a tag through the web interface:

They will also drop the `v` letter in the name of a source archive, so you'll get `pytest-catchlog-1.2.0.zip` anyway.

Yeah, at least pytest-core sticks to that,

[2015-11-09 14:40] abusalimov opened #14 "Integrate with --capture and -v options of pytest"
There's a [pytest-logging](https://github.com/saltstack/pytest-logging) plugin by @s0undt3ch that provides a nice way to control logging through the default `-v` and `-s` (alias for `--capture=no`) options of pytest-core. The verbosity flag naturally configures the logging level, and the capturing option - whether to output live logs for all tests, or only capture them to show in case of a failure

[2015-11-10 22:15] eisensheng opened #16 "Python 2.6 support advertisement and testing"
Since pytest also supports Python 2.6 in unit tests and advertises it it would be nice if pytest-catchlog could also support Python 2.6 by testing against the given version and advertise it in the `setup.py` file.

[2015-11-10 22:37] mnencia commented on #16
Fixed in #17

[2015-11-10 22:43] #16 closed, assigned to nobody

[2015-11-11 11:32] mnencia opened #18 "#11 introduces subtle incompatibility"
Before release 1.2.0 you were allowed to manipulate the list of logged events by changing the result of caplog.records().

After the introduction of the compatibility layer, such operation has no effect as the list returned by caplog.records (with or without ()) is a copy of the original one.

So, if you want to "reset" the caplog status you have to edit caplog.handler.records.

I can live with it

[2015-11-11 22:28] eisensheng commented on #14
This appears to be somewhat related to #1 but the solution provided by pytest-logging for changing log verbosity is by far more appealing because of the simplicity of the options IMHO. It would be nice if @s0undt3ch could provide a PR to integrate this feature in pytest-catchlog.

The options `--logging-format` and `--logging-date-format` provided by pytest-logging are already covered by pytest-ca

[2015-11-11 22:30] s0undt3ch commented on #14
I will provide a PR, just haven't gotten the time.

[2015-11-11 22:31] s0undt3ch commented on #14
My PR will obsolete my plugin and once you decide to rename catchlog to logging I will also remove my plugin from pypi...

[2015-11-11 22:34] eisensheng commented on #14
Perfectly fine. :wink: My day work also keeps me busy during the week so I just try to catch up with discussions on work days and try to devote some time to other projects like this one here during the weekend.

Regarding the renaming we have a discussion running on the pytest mailing list. Maybe it does makes sense after all to rename this Plugin to pytest-logging. My opinion changed in favour to

[2015-11-11 22:36] eisensheng opened #19 "Rename plugin to pytest-logging"
Rename the Plugin to pytest-logging.

The main argument against the rename was that a third name may further stir the confusion around the logging plugins for pytest.

This argument is somewhat obsolete now since a new plugin with the name pytest-logging actually appeared and further stirred the confusion around the logging plugins. So the plugin pytest-catchlog should be renamed to pytest-logging

[2015-11-15 13:16] s0undt3ch commented on #19
#20 should prepare catchlog for this

[2015-11-15 13:29] s0undt3ch commented on #14
Once my PR is merged and catchlog releases a new version, can someone ping me so that I update the read me to redirect people to catchlog?

[2015-11-15 14:01] abusalimov commented on #13
@jlec Could you help us and specify what exactly we should add into `setup.py`? Honestly, (personally) I'm a kind of setuptools newbie. Any link to a package with a "good" `setup.py` as an example would be fine too. Thanks.

[2015-11-15 14:04] eisensheng commented on #13
@abusalimov We should patch MANIFEST.in to include the test files. I was already playing around with this yesterday.

[2015-11-15 14:05] abusalimov commented on #13
Ah, awesome!
I'll assign this to you then, OK?

[2015-12-06 22:47] #13 closed, assigned to eisensheng

[2015-12-06 22:48] #18 closed, assigned to abusalimov

[2015-12-07 22:05] #12 closed, assigned to nobody

[2015-12-07 22:05] eisensheng commented on #12
1.2.1 has been released with a warning regarding the `atLevel` and `setLevel` methods.

[2015-12-17 09:40] The-Compiler opened #29 "Captured log is printed twice if there's an error in the test and during teardown"
When there's a situation where we have an error in a test _and_ during teardown:

[code]

Then the log is printed twice:

[code]

Some background:

This happens quite often for me, as I start a subprocess in a test and parse its output. When there's an unparsable line, I want to fail the test but continue so I get more output (imagine e.g. a traceback - I don't want to abort the test on the first

[2015-12-17 09:53] abusalimov commented on #29
Isn't this a pytest core issue? Using `print` in place of `logging.debug` gives the same effect:

[code]

[2015-12-17 09:59] The-Compiler commented on #29
Hmm, interesting, I guess it is indeed. I'll report it there then.

[2015-12-17 09:59] #29 closed, assigned to nobody

[2015-12-17 10:15] The-Compiler commented on #29
I added it to https://github.com/pytest-dev/pytest/issues/1004

[2016-01-04 13:53] sirex opened #30 "Unicode error in caplog.text"
`caplog.text` became a `CallableStr(CallablePropertyMixin, str)` property, witch always receive result from `py.io.TextIO.getvalue`, witch always returns `unicode`.

In other words, when you call `caplog.text` you get something like this: `str(unicode(''))`.

If logs have non-ascii characters it ends up like this:

[code]

[2016-01-05 11:08] #30 closed, assigned to nobody

[2016-02-26 09:22] kierun opened #36 "ArgumentError: argument --log-format: conflicting option string(s): --log-format"
I am getting this exception when running my code with both py.test and pytest-catchlog. I _think_ the latter might be responsible but _I am not sure_...  Here is the trace:

[code]

[2016-02-26 09:28] The-Compiler commented on #36
Can you try invoking pytest directly, i.e. not via `setup.py test`?

[2016-02-26 09:32] kierun commented on #36
Yes.  If I invoke it either via `py.test ...` or `python setup.py tests` it works fine.  It is just when running within `tox` that I get this error.

Apologies for being unclear.

[2016-02-26 11:54] abusalimov commented on #36
Could you also post your `tox.ini`/`pytest.ini` (or whatever file providing the `[pytest]` section, m.b. `setup.cfg`) please?

[2016-02-26 12:02] kierun commented on #36
The py.test section is in `setup.cfg` and reads:

[code]

[2016-02-26 12:09] abusalimov commented on #36
Could it be a setup.py test-command related thing? Any guesses where might the `--log-format` argument come from?

[2016-02-26 12:15] kierun commented on #36
That is is the mystery! I have no idea where that `--log-format` option comes from. Grep did not show anything.

And it only happens when I run `tox` as running either `py.test` directly or via `python setup.py tests` does not show the problem. Hell, it could not even be related to `pytest-catchlog`!  Although, I think it might be since the last time I ran `tox` was with `pytest-capturelog` but si

[2016-02-26 12:25] abusalimov commented on #36
@The-Compiler could you ask guys from pytest-core/tox who might have a clue to chime in?

[2016-02-26 17:03] The-Compiler commented on #36
Is there a repo where I can reproduce this somewhere? It smells like the `pytest_addoption` hook of pytest-catchlog is executed twice?

How does your `setup.py` look?

[2016-02-29 08:22] kierun commented on #36
Sadly this is a work project, so I cannot share the whole code.

My `setup.py` is more or less standard. The only thing I have extra is this (see below) to automatically run pytest from setup.

[code]

[2016-02-29 08:34] kierun commented on #36
AHA!  Removing the above class (`class PyTest(TestCommand):`) and using `command = coverage run --source mead setup.py test` in the `tox.ini` file does not show the problem.

[2016-02-29 08:36] The-Compiler commented on #36
Can you try switching to [the latest code from the "good practises" page](http://pytest.org/latest/goodpractises.html#manual-integration) or using `pytest-runner` like [mentioned there](http://pytest.org/latest/goodpractises.html#integrating-with-setuptools-python-setup-py-test-pytest-runner)?

[2016-02-29 08:50] kierun commented on #36
I tried using [the second one](http://pytest.org/latest/goodpractises.html#integrating-with-setuptools-python-setup-py-test-pytest-runner) and the problem is still there.

In addition, I get these warnings from `tox`:

[code]

[2016-02-29 09:17] The-Compiler commented on #36
Can you share your `tox.ini` too?

[2016-02-29 09:19] kierun commented on #36
I had some stale code in my `.tox`, and `tox -r` did the trick.  So, the new updated [best practices](http://pytest.org/latest/goodpractises.html#integrating-with-setuptools-python-setup-py-test-pytest-runner) do work fine.

So, this does solve my problem.  If that's enough of a work around, then I am happy for this to be closed.

[2016-02-29 09:29] The-Compiler commented on #36
Yeah, I'm guessing there's a reason those best practises were updated, so I'm closing this. Thanks for the report and the investigations!

[2016-02-29 09:29] #36 closed, assigned to nobody

[2016-02-29 09:30] kierun commented on #36
You are welcome!  Thank you for being patient and all your hard work and help.  It is much appreciated.

[2016-03-10 22:13] Nikratio opened #37 "How to check log messages in fixture"
[ Apologies for mis-using the issue tracker for what's essential a question, but I could not find a mailing list or other suitable forum ]

I have a large number of tests that I would like to fail if they generate log messages of warning (or higher) prioritiy. What is the best way to do that? I do not want to explicitly include `caplog` in the parameter list of every test function (and explicity c

[2016-03-10 22:20] Nikratio commented on #14
When this functionality is integrated, please provide an option for catchlog to preserve the current behavior (i.e., do not print any log messages to stderr/stdout while the test is running, only report them afterwards and only if the test has failed).

[2016-03-10 22:22] The-Compiler commented on #14
@Nikratio you mean you want that behaviour even with `--capture=no`, which displays all other output immediately?

[2016-03-10 22:53] Nikratio commented on #14
Yes.

But more importantly, when using `--capture=fd` and encountering a failed test, I don't want the log messages to appear twice (as captured output and as captured log messages), and I would like to keep the distinction between captured output and captured log messages (so using only output capture without capturing log messages is not a solution).

[2016-03-24 15:51] abusalimov commented on #37
Sorry for that late response, I missed your message for some reason. I can't say for sure, what the best option is, but AFAIK, @The-Compiler has made something similiar for one of his projects (logfail.py, IINM, I couldn't find a link though).

[2016-03-24 15:55] The-Compiler commented on #37
Yep:
- https://github.com/The-Compiler/qutebrowser/blob/master/tests/helpers/logfail.py
- https://github.com/The-Compiler/qutebrowser/blob/master/tests/helpers/test_logfail.py

Though the code to ignore log failures if `caplog.at_level` is used is rather hacky. I'll try to add the feature to catchlog once things have cooled down a bit and the current PRs are merged.

[2016-04-11 16:07] sashkab opened #41 "I/O operation on closed file after monkeypatching logging.root.handlers"
I've ran into strange issue with pytest-catchlog. I have a fairly large test suite, and one of the tests has to run without any loggers in order to test functionality. I use monkeypatch to patch it:

[code]

I've setup test repository -- https://github.com/sashkab/catchlog-failure, but here are tests:

[code]

Test `test_one` passes and works as expected:

[code]

Then I've got second test -- `tes

[2016-04-11 23:26] abusalimov commented on #41
Thank you for such a detailed report!

I can't tell for sure what the actual reason is, but I suspect that the following steps could lead to the error in question:
1. catchlog hook wrapper creates a handler before running the first test case
2. catchlog [attaches](https://github.com/eisensheng/pytest-catchlog/blob/1.2.2/pytest_catchlog.py#L48) that newly create handler to the root logger
3. the te

[2016-04-12 00:07] sashkab commented on #41
I was under impression, that pytest-catchlog would attach only in tests, which use caplog fixture, but it seems it's not the case.

In any case, my workaround was to delete all existing `LogCaptureHandler` from `logging.root.handlers` in the second test instead of monkeypatching it.

As a workaround, I've modified `test_one`:

Removed:

[code]

And added:

[code]

[2016-04-12 00:09] abusalimov commented on #41
Yes, it needs a handler for every test case in order to provide proper reporting section in case of a test failure.

[2016-04-20 11:45] alexrudy opened #43 "I/O operation on closed file with lots of threads"
This is similar to #41 but suggests something perhaps a bit more nefarious. The code below spawns lots of threads (on my machine, ~100 was enough to do it, but I see the problem intermittently with ~8 threads) and then logs from each thread intermittently.

This causes lots of "I/O operation on closed file" errors from the threads, which seem to log after the handler has been removed and closed.

[2016-04-20 13:36] abusalimov commented on #43
@alexrudy, thank you for reporting this!

If I understand correctly, the error should gone, if you move thread joining logic inside the `with catching_logs(...)` block:

[code]

Am I missing something?

Is this the original code that causes the error? If not, could you paste the particular test cases that shows that error, please? Pseudo-code would be OK too.

[2016-04-20 13:45] alexrudy commented on #43
@abusalimov I agree, moving the thread join inside the the context manager does make this problem go away. However, my particular case happens because I start threads during a test setup or test body, then shut them down during a test teardown. The test case itself is quite a bit more complicated, but you can find the thread pool here:
https://github.com/alexrudy/Cauldron/blob/feature/async-dispat

[2016-04-20 17:33] abusalimov commented on #43
I think we could add a check to ensure the stream is still alive. Effectively, this would make errors be swallowed silently. I don't like that kind of approach, but I guess in this case it would OK to do like that.

The thing is, since the standard logging module does not synchronize `addHandler`/`removeHandler` with actual access to a handler, a worker thread can indeed call an already detached a

[2016-04-20 17:37] abusalimov commented on #43
I think it's also worth removing the `closing(...)` context from the `catching_logs(...)` to let a caller do that explicitly.

[2016-05-30 13:55] blueyed opened #44 "Handling of loggers with propagate=False"
What is the recommended way to handle loggers that are configured with `propagate=False`, which appears to cause the message not to reach the caplog handler?

I can manually change the `propagate` setting in the test (setup), but there might be a better way?!

[code]

Could pytest-catchlog take care of this automatically, e.g. by attaching its handler to all loggers with `propagate=False`?

Would

[2016-05-30 19:34] blueyed commented on #44
This seems to do the trick:

[code]

[2016-05-31 00:35] blueyed opened #45 "Provide reset method for records"
As stated in https://github.com/eisensheng/pytest-catchlog/pull/21#issuecomment-156812911 there should be a `reset` method, especially since using `del caplog.records()[:]` will issue a deprecation warning.

[2016-06-17 17:19] blueyed commented on #44
It might be better to add the caplog handler to the loggers with `propagate=False` (`logger.addHandler(caplog.handler)`), but that resulted in some `ValueError: I/O operation on closed file`, and the handler is probably not meant to be used like that.

[2016-06-17 17:40] abusalimov commented on #44
Sound good! I wish I had more spare time time to investigate that...

[2016-07-07 14:55] blueyed commented on #44
FWIW, this is the current function I am using:

[code]

[2016-08-07 17:48] eisensheng opened #48 "Introduce flake8 to ensure code styling consistency"
I would like to start a discussion on introducing Flake8 to check and ensure code styling consistency.

The styling check should also be introduced into the `tox.ini` file to guarantee that styling mistakes are detected during test runs with travis. The goal is to ensure that code will be written in a consistent manner and confusion on styling for code contributions will be reduced.

Subjects I wo

[2016-08-08 07:00] The-Compiler commented on #48
Sounds good to me, I think consistency is always a good idea.

Depending how far you want to go, some other linters might also be a good idea: I can highly recommend [pylint](http://www.pylint.org/) - even if it needs some configuration, after that it's really powerful. Then there also are [check-manifest](https://pypi.python.org/pypi/check-manifest) (MANIFEST.in), [pyroma](https://pypi.python.org

[2016-08-27 11:41] blueyed opened #49 "Drop support for Python 3.2?"
I've upgraded pytest to 3.0.1 in https://github.com/eisensheng/pytest-catchlog/pull/46 (to get the display of the warnings by default), but it does not work with Python 3.2.
There are other places (e.g. the pinning of the virtualenv on Travis) that could be removed when dropping support for 3.2.
What do you think?

[2016-09-12 23:50] alexrudy commented on #43
_I had to take a long leave of absence from this project, so sorry about the delayed response._

Yes, I think both of these suggestions make sense.
- Swallow errors if the stream isn't alive is fine in my case. Thats the best that can be done given the current state of the logging module's thread safety.
- Removing `closing(...)` and having the caller do that explicitly would also be good.

Thanks

[2016-09-27 22:00] twmr opened #51 "live logging settings not always visible in pytest helptext"
Inside the pytest-catchlog working directory I see the following catchlog-specific cmd line settings:

[code]

However, if `pytest --help` is run from a different directory, not all of these settings are available

[code]

Any ideas why the help text is different?  (tested on python3.5; pytest-3.0.0)

[2016-09-27 23:13] twmr commented on #51
I nailed it down to a pip issue. (I was not able to reproduce this issue in a fresh conda environment).

[2016-09-27 23:13] #51 closed, assigned to nobody

[2016-11-06 14:28] #49 closed, assigned to nobody

[2016-11-06 14:34] #45 closed, assigned to nobody

[2016-11-06 16:48] s0undt3ch commented on #19
Let me know when you want to take care of this. I recently had 2 users trying to install pytest-logging which I directed to pytest-catchlog.

[2016-11-06 17:16] abusalimov commented on #19
Sure!

[2016-12-15 10:30] mgedmin opened #53 "log_print in pytest.ini has no effect"
## Steps to reproduce

Create a `pytest.ini`:

[code]

Create a `test.py`:

[code]

Run `py.test test.py`

## Expected output

[code]

## Actual output

[code]

[2016-12-15 10:32] mgedmin commented on #53
This appears to be already fixed in the `develop` branch.

[2016-12-27 01:24] nicoddemus commented on #19
How is the status of this? IIUC, once this is renamed to `pytest-logging` we would like move it to the `pytest-dev` organization, correct?

pytest-dev/pytest#2159 has brought me back to this issue. 😁

[2016-12-27 10:42] s0undt3ch commented on #19
Just tell me when and I'll pull the plug on the old pytest-logging plugin.

[2017-01-17 15:34] KKoukiou opened #55 "Commit cfedc42767f47a467407a562f086d7eba8cc76dd hides logs from junit xml report file when junitxml option is used."
When --junitxml option is used with pytest together with the pytest-catchlog plugin we used to see the Captured log after the failure/error message.
Commit cfedc42767f47a467407a562f086d7eba8cc76dd breaks that, and hides the logs from that file.
I believe that the problem lies in the use of "item.add_report_section('call', 'log', log)" instead of "long_repr.addsection('Captured log', log)", since n

[2017-01-17 15:49] KKoukiou commented on #55
I just realized that the issue is a duplicate of https://github.com/eisensheng/pytest-catchlog/pull/39.

[2017-01-17 15:49] #55 closed, assigned to nobody

[2017-02-22 13:50] GergelyKalmar opened #59 "Catching logs of pytest-flake8 plugin"
When using the pytest-flake8 plugin the flake logs get catched by pytest-catchlog, making it difficult to see the actual flake error output:

`======== FAILURES ========
_______ FLAKE8-check _______
/home/user/Projects/test/test.py:12:5: F841 local variable 'test' is assigned to but never used

-------- Captured log call --------
flake8.options.manager:: DEBUG: Registered option "Option(-v, --verb

[2017-03-07 10:18] nicoddemus commented on #19
Gentle ping to know about the status. 😁

cc @The-Compiler

[2017-03-07 10:23] The-Compiler commented on #19
No idea, I tuned out of here. This is probably something @eisensheng would need to do, as he's the owner of the package on PyPI and the repo and all that.

[2017-03-10 11:27] GergelyKalmar commented on #59
In case someone is looking for a workaround, there is one. You can disable the 'flake8' logger for the entire session by putting an `__init__.py` file to the root test path directory with the following content:
[code]

[2017-03-31 12:08] chekunkov opened #60 "caplog.set_level has side effects if logger name is passed explicitly"
If I pass logger name to caplog.set_level like this

[code]

then for all following test cases that logger will have level set to ERROR, which is not expected.

[2017-03-31 13:17] chekunkov commented on #60
I've fixed that with the following custom fixture, please let me know if it worth a PR

[code]

[2017-03-31 14:16] abusalimov commented on #60
@chekunkov Looks good at the first glance, thank you!

[2017-04-04 13:24] ghost commented on #41
sorry to intrude. it appears like I am suffering from that, too. is there a workaround for that?

[2017-04-05 00:08] sashkab commented on #41
@markfink did you try my workaround https://github.com/eisensheng/pytest-catchlog/issues/41#issuecomment-208630365

[2017-04-05 06:10] ghost commented on #41
@sashkab thank you for the advice. I understand that this workaround needs to be applied within every test which is not really an option for me. Do you think it works to wrap the "caplog" fixture into  like `caplog2` to remove the handlers?

[2017-04-07 17:05] mattjhussey opened #62 "Logs in fixtures not captured"
Hi, I'm not sure if this is a bug, a problem with what I'm doing or a design feature.

I have a test function like this:
[code]
and logs are produced during the `lexer.input(data)` call but caplog doesn't capture them.
If I instead call `Lexer().input(data)` then the logs are produced so it appears to be ok if I create the instance inside the test function, but not ok if it is passed in as a fixtu

[2017-04-07 17:53] mattjhussey commented on #62
Ignore this. I'm an idiot. I wasn't executing the bit of the code that produced logs and I was seeing the seup logs instead. All sorted. Sorry.

[2017-04-07 19:27] #62 closed, assigned to nobody

[2017-04-18 07:33] vgavro commented on #59
Actually I also think that this logger should be disabled by default. It's starting to be headache when dealing with not only checking 'tests', where you can put `getLogger('flake8').propagate = False` to conftest, but when checking module itself. There should be an option not to propagate some logger names, for example:
[code]

[2017-04-19 02:48] smallnamespace commented on #51
Can you re-open, or should I file a another issue? I'm running into the same problem.

In particular, I see this in a freshly installed conda env with py3.6, pip, and pytest only, and I'm unable to see the `cli` options even running from the site-packages dir.

[2017-04-28 15:42] smallnamespace opened #63 "Live logging settings missing from help text and unavailable at command line"
I'm running into the same problem as https://github.com/eisensheng/pytest-catchlog/issues/51.

In particular, I see this in a freshly installed conda env with py3.6, pip, and pytest only, and I'm unable to see the cli options even running from the site-packages dir. Attempting to use `--log-level` works, but `--log-cli-level` and the like result in flag not found errors.

[2017-05-17 15:32] maxkondel commented on #63
Because they didn't released new version for pypy for 1.5 years already, and --log-cli-level merged only half years ago. Use master instead.

[2017-05-31 21:25] dfee commented on #63
Oh man. This just bit me too.

I'll expand this so that others might understand if this problem affects them –

This problem affects you, if:
- you are using `log_cli_level` in your `pytest.ini`
- you are passing `--log-level-cli` to pytest and you receive "pytest: error: unrecognized arguments: --log-cli-level INFO"

For convenience, install master like this: `pip install git+https://github.com/e

[2017-06-02 17:08] smallnamespace commented on #63
Dumb question -- why the long delay in releases? I see some extant tickets to merge this with other projects, but has that actually happened?

[2017-06-12 17:00] lloydaduke commented on #63
Also bitten.
Thanks @dfee for the Google bait that I hope gets indexed soon.
Thanks @maxkondel for the suggestion.

[2017-07-06 05:34] bersace commented on #8
Any updates on this topic ?

[2017-07-09 15:40] markcwhitfield commented on #36
Sorry to comment on a resolved issue, but just want to add an alternate cause for future folks who might end up on this issue: I ran into this same error message because I still had `pytest-capturelog` installed in my virtualenv, which of course defines the same commandline options.

[2017-07-11 06:53] arnuschky commented on #36
Same here. :)

[2017-07-11 06:54] arnuschky opened #66 "Colors?"
We're heavily depending on colors to structure our logs visually. Any chance to get catchlog to maintain them? Currently, the output shows only in monochrome.

[2017-07-12 03:50] twmr commented on #8
I would also be interested if this proejct were merged into pytest-core.

Now that #7 is done and the pytest-dev maintainers are in favor of the merge, we can finally start to merge it. Or shouldn't we?

[2017-07-12 03:56] twmr commented on #66
We use a custom [formatter](https://docs.python.org/2/library/logging.html#formatter-objects) for this, but it is not currently possible to specify this formatter on the cmd line for pytest AFAIK.

[2017-07-12 11:42] prokher opened #67 "Cannot setup `log_format` in `setup.cfg, because of `InterpolationMissingOptionError`"
I would like to setup `log_format` in the project-wise configuration file `setup.cfg`. I do it like this:
[code]

Given this, any invocation of some `setup.py` or simply `pip install -r requirements.txt` in the directory where `setup.cfg` resides, gives me a error:
[code]

As far as I understand, the reason is that %-formatting is used in config files for string interpolation. It is recommended to

[2017-07-14 10:19] arnuschky commented on #66
I realized that it works quite alright with colors - at least when catching stderr/stdout. I lost the colors in a different pay (secondary process via popen).

I am closing this, works for me.

[2017-07-14 10:19] #66 closed, assigned to nobody

[2017-07-18 14:13] danstender opened #68 "pytest 3.1.3 breaks tests"
We have the build resp. the tests breaking on _test_compat_camel_case_aliases_ since pytest update from 3.0.6 to 3.1.3, please see <https://ci.debian.net/packages/p/pytest-catchlog/unstable/amd64/>:
[code]
Thanks,
DS

[2017-08-16 15:20] rudicba opened #71 "caplog.clear() does not works"
AttributeError: 'CompatLogCaptureFixture' object has no attribute 'clear'

`pip freeze | grep pytest

pytest==3.2.1
pytest-catchlog==1.2.2
pytest-mock==1.6.2
`

[2017-08-16 15:26] rudicba commented on #71
My bad

`pip freeze | grep pytest

pytest==3.2.1
-e git+https://github.com/eisensheng/pytest-catchlog.git@8eb1226c2f97d7eaca14762d88ce53fa07962ab8#egg=pytest_catchlog
pytest-mock==1.6.2`

Works as expected.

So when will be available the new version?

Thanks

[2017-08-25 06:40] LocutusOfBorg commented on #68
Hello @The-Compiler, is it possible to have a fix against the latest stable release?

[2017-09-02 11:00] twmr commented on #8
This is true, but we could merge it into the core but still develop it outside, like what is done for [org-mode](http://www.orgmode.org) in emacs. Org-mode is merged from time to time into emacs core, but developed in a separate repository. I'm not sure if it's worth the effort, given that the current pytest release cylce is approximately one release per month.

@The-Compiler would you like a fast

[2017-09-04 13:10] The-Compiler commented on #8
No, I'm guessing that would be fine indeed.

[2017-09-04 14:14] The-Compiler commented on #68
@LocutusOfBorg Not by me, sorry. I lack the time currently.

[2017-09-04 15:56] LocutusOfBorg commented on #68
sigh, I tried latest master and fails to test anyway with debian unstable :/

[2017-09-04 21:07] The-Compiler commented on #68
That makes sense, as my PR is against the `development` branch, and also wasn't merged yet.

[2017-09-04 21:45] LocutusOfBorg commented on #68
sorry, I meant ```development``` of course, the branch with the above commit

[2017-09-04 21:46] LocutusOfBorg commented on #68
I can retry if needed

[2017-09-05 06:33] LocutusOfBorg commented on #68
[code]

[2017-09-05 06:36] LocutusOfBorg commented on #68
sorry obviously wrong log:

[code]

[2017-09-05 06:44] The-Compiler commented on #68
You'll need the [necessary dependencies installed](https://github.com/eisensheng/pytest-catchlog/blob/develop/tox.ini) to run the testsuite.

[2017-09-05 07:05] LocutusOfBorg commented on #68
I have everything except pygaljs (not available in unstable)

[2017-09-05 07:29] LocutusOfBorg commented on #68
I installed pygaljs with pip/pip3 and failed in the same way
[code]
this smells to me like a mismatch in some versions

[2017-09-05 09:41] The-Compiler commented on #68
Do you have pytest-benchmark 3.0.0 or newer?

[2017-09-05 09:49] LocutusOfBorg commented on #68
yes, 3.0.0 https://packages.qa.debian.org/p/python-pytest-benchmark.html

[2017-09-13 08:17] twmr commented on #19
What if  we do the renaming and the merge (#8) into pytest-dev in one go? Then we would no
longer have to wait for the feedback from @eisensheng.

[2017-09-13 09:54] nicoddemus commented on #19
@thisch why would doing both at the same time give us the right to do it without the author's knowledge?

[2017-09-13 09:57] nicoddemus commented on #19
Hmm it's worrying that the last activity on GitHub by @eisensheng was in September 2016, according to his profile... It would be nice if he could give us a ping here.

[2017-09-13 10:01] nicoddemus commented on #19
@thisch oh just realized you meant merging with pytest-logging, and not merging it with the pytest-dev organization, sorry for the confusion com my part. I see your point now.

[2017-09-13 11:42] twmr commented on #19
I didn't know that there is a pytest-logging package on pypi (Now I understand what @s0undt3ch meant in https://github.com/eisensheng/pytest-catchlog/issues/19#issuecomment-269308977). I really meant merging pytest-catchlog into pytest-dev/pytest, as requested in #8. I would also prefer if @eisensheng gives us a +1, but what if he doesn't respond?

[2017-09-13 11:44] nicoddemus commented on #19
Yeah we have to decide what to do, @eisensheng has been inactive from GitHub for a year now. ☹️

[2017-09-13 11:45] nicoddemus commented on #19
@s0undt3ch are you still interested on the merge of pytest-catchlog + pytest-logging and the move to pytest-dev? And if so would you be the main maintainer over pytest-dev/pytest-logging?

[2017-09-13 15:16] s0undt3ch commented on #19
Yep, I haven't developed my plugin further just to get them both merged. As to taking principal role in managing the project, I also don't have much free time these days, ideally, someone with some more available time should take up that role.

[2017-09-13 15:17] s0undt3ch commented on #19
Also, if pytest is open to include this functionality into core of pytest, I'd vote for that.

[2017-09-13 15:49] twmr commented on #19
I volunteer to integrate this plugin into pytest-dev.

[2017-09-13 18:28] s0undt3ch commented on #19
@thisch feel free to CC me on your PR or ping me if you need any help.
I'd like to take your code for a spin to see if what was included from pytest-logging is still working :)
But I'm sure you'll do awesome work!

Thanks for stepping up.

[2017-09-13 18:46] twmr commented on #19
You can already take a look at my feature branch [here](https://github.com/thisch/pytest/tree/catchlog). Before I create a pull request on pytest-dev, I would first like to wait a bit until I get a few more comments from other developers. My feature branch does not yet include any code from pytest-logging. What exactly do you need from your plugin?

[2017-09-15 11:23] twmr commented on #19
@s0undt3ch have you tested my feature branch yet?

If you are satisfied, I'll create a PR, provided that no one objects.

[2017-09-15 14:07] s0undt3ch commented on #19
Sorry @thisch, I have not. I'm on vacations. I'll see if I can give it a spin on Monday morning.

[2017-09-17 17:40] twmr commented on #71
We'll try to merge pytest-catchlog into pytest-core (see #8). Can you please close this issue?

[2017-09-17 17:49] twmr commented on #67
I can reproduce this. I'll try to come up with a fix for this

[2017-09-17 18:01] twmr commented on #67
The reason why pytest does not raise this ``InterpolationMissingOptionError`` exception is that pytest (or py) does not use the ``configparser`` stdlib but a custom one, which does not depend on the ``configparser`` module (``py.iniconfig.IniConfig`` - > https://github.com/pytest-dev/py/blob/master/py/_vendored_packages/iniconfig.py). IMO pytest/py should also raise this ``InterpolationMissingOpti

[2017-09-17 18:59] twmr commented on #67
Escaping % in setup.cfg does not work in python 2.x (see https://www.mail-archive.com/distutils-sig@python.org/msg26612.html and https://bugs.python.org/issue20754l)

[2017-09-17 20:51] #71 closed, assigned to nobody

[2017-09-20 15:14] twmr commented on #19
Never mind. I'll create a PR for pytest-dev/pytest tomorrow, if no one objects.

[2017-09-20 16:52] abusalimov commented on #19
~Just in case, @eisensheng has added me and @The-Compiler as the repository owner, so when the time comes IIUC we should be able to move the repository to the pytest-dev org so that all the issues and PR of this repository are retained. I'm not sure about PyPI and Travis accounts though.~

Oops, disregard the above. Turns out, we only have push access, and can't manage the GitHub repository.

[2017-10-02 12:59] exhuma commented on #36
FWIW, I had the same issue as @markcwhitfield
Replacing `pytest-capturelog` with `pytest-catchlog` resolved the issue.

[2017-10-11 23:46] gtmanfred opened #72 "Can we get a release of this?"
There are some change we are using in https://github.com/saltstack/salt.git, and would like to just be able to install from the pypi package.

Thanks!
Daniel

[2017-10-12 00:30] twmr commented on #72
You mean a release for the current state of the develop branch?

This plugin (develop branch) will soon be part of pytest see https://github.com/pytest-dev/pytest/pull/2794

[2017-10-12 00:31] gtmanfred commented on #72
Ahh, ok awesome.

Thanks!

[2017-10-12 00:31] #72 closed, assigned to nobody

[2017-11-15 16:31] gsemet commented on #66
+1 on allowing color in output terminal. Even a simpler one using colorlog formatter would be fine (and optional, only enabled if colorlog module is available)
Thanks

[2017-11-29 15:10] liiight commented on #36
thanks for sharing @markcwhitfield , just got this after upgrading to pytest 3.3.0. Maybe its worth mentioning in their changelog as i imagine it would be a common problem

[2017-12-05 15:48] kashif commented on #36
actually `pytest-catchlog` plugin has been merged into the core so uninstalling `pytest-capturelog` and `pytest-catchlog` did the trick for me

[2017-12-05 18:39] The-Compiler commented on #8
pytest-catchlog now got merged into the pytest core: https://github.com/pytest-dev/pytest/pull/2794

I'll take care of some obvious remaining issues here, but I'd be glad if someone could help sorting the rest out: https://github.com/pytest-dev/pytest/issues/3003

[2017-12-05 18:40] #8 closed, assigned to nobody

[2017-12-05 18:42] The-Compiler commented on #68
Since this was fixed in `development`, and the pytest-catchlog plugin (the `development` branch) was merged into the pytest core, this probably isn't applicable anymore.

[2017-12-05 18:42] #68 closed, assigned to nobody

[2017-12-05 18:44] The-Compiler commented on #63
Since this was fixed in `development`, and the pytest-catchlog plugin (the `development` branch) was merged into the pytest core, this probably isn't applicable anymore.

[2017-12-05 18:44] #63 closed, assigned to nobody

[2017-12-05 18:45] The-Compiler commented on #53
Since this was fixed in `development`, and the pytest-catchlog plugin (the `development` branch) was merged into the pytest core, this probably isn't applicable anymore.

[2017-12-05 18:45] #53 closed, assigned to nobody

[2017-12-05 18:45] The-Compiler commented on #48
Since this was fixed in `development`, and the pytest-catchlog plugin (the `development` branch) was merged into the pytest core, this probably isn't applicable anymore.

[2017-12-05 18:45] #48 closed, assigned to nobody

[2017-12-05 18:45] The-Compiler commented on #19
Since the pytest-catchlog plugin was merged into the pytest core, this probably isn't applicable anymore.

[2017-12-05 18:45] #19 closed, assigned to nobody

[2017-12-05 18:47] The-Compiler commented on #4
Since the pytest-catchlog plugin was merged into the pytest core, this probably isn't applicable anymore.

[2017-12-05 18:47] #4 closed, assigned to nobody

[2017-12-07 15:54] cryvate opened #74 "Python 3.7 Nightly failures due to Python bug or travis"
[See for example this job.](https://travis-ci.org/pytest-dev/pytest/jobs/313008163) [They fail because of a bug in python introduced for 3.7.](https://bugs.python.org/issue31845)

The state of this bug is 'fixed' on the bugtracker. So I think there is two possible problems:
- travis "nightly" is not actually the head of the master branch of cpython
- this bug has reappeared
I tried to find out the

[2017-12-07 17:54] The-Compiler commented on #74
How is this related to pytest-catchlog?

[2017-12-07 19:22] cryvate commented on #74
Not at all... I was kinda not paying attention... [See here for the correct repository](https://github.com/pytest-dev/pytest/issues/3011)

[2017-12-07 19:22] #74 closed, assigned to nobody

[2017-12-08 11:53] revmischa commented on #59
`getLogger('flake8').propagate = False` helps (but is pretty annoying to have to add like that)
i get a HUGE amount of logs using pytest-flake8 like:
`DEBUG	 [root] parser.py:346 parsing definition list, current token is tk.NEWLINE (`
and i have no idea how to shut them up

[2017-12-16 13:25] winni2k commented on #59
I think maybe a more appropriate default logging setting for flake8 would perhaps be 'WARNING'?

[2017-12-26 08:26] prokher commented on #67
Since this plugin merged to PyTest itself, the report moved to PyTest tracker [here](https://github.com/pytest-dev/pytest/issues/3062).

[2017-12-26 08:26] #67 closed, assigned to nobody

[2017-12-31 00:38] tmc opened #75 "conflicts with pytest-capturelog"
As referenced in https://github.com/freedomofpress/securedrop/issues/2773 it appears as though this package and pytest-capturelog cannot both be installed -- is this something that would be considered in-scope for this project?

It would make for a bit of a rough transition otherwise.

[2017-12-31 11:42] The-Compiler commented on #75
I don't know whether that's even possible, as it's quite early in the initialization phase where the conflict happens. Also note that this plugin is deprecated anyways, as the functionality got merged into the pytest core.

[2017-12-31 19:49] tmc commented on #75
Thanks. It's not immediately apparent from the repo that it has been upstreamed -- perhaps this repo should be updated to point folks in the right direction.

[2017-12-31 19:49] #75 closed, assigned to nobody

[2018-01-15 13:42] boxed commented on #37
I also had this same issue.. it was a pain to figure out what happens! The problem is that _runtest_for() sets item.catch_log_handler, overwriting that member. In the finally block it then deletes it. If you change _runtest_for to this:

[code]

You can then access the logs for each of the steps (setup, call, teardown) by:

[code]

You can just monkey patch that in on `LoggingPlugin._runtest_for`

[2018-01-15 20:39] Nikratio commented on #37
Here's what I ended up doing (sorry, should have reported back earlier):

[code]

This also works with the catchlog functionality that has now been merged into pytest main.

[2018-01-20 13:36] nicoddemus commented on #37
FWIW pytest-dev/pytest#3117 has just been merged with a solution to this problem in pytest. 👍

[2018-01-20 15:56] The-Compiler commented on #37
I'm closing this then! 😄

[2018-01-20 15:56] #37 closed, assigned to nobody

[2018-02-23 16:15] twmr commented on #14
This issue can already be closed. The live-logging functionality has already been integrated into pytest-core.

[2018-02-23 16:38] The-Compiler commented on #14
Indeed, thanks!

[2018-02-23 16:38] #14 closed, assigned to nobody

[2018-03-30 13:05] hlef opened #76 "Test failures in test_camel_case_aliases and test_foo"
Hi,

The Debian python-catchlog package currently fails to build from source in unstable because of broken tests:

[code]

You can find a complete build log [here](https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/pytest-catchlog.html) (tests are at the end).

I suspect incompatibilities with pytest version 3.3.2 (package was building fine with 3.2.5).

This is an urgent situation

[2018-03-30 13:14] The-Compiler commented on #76
Like the note in the output says:

So if you ship pytest 3.3.2, there's probably no reason to have a pytest-catchlog package.

[2018-03-30 13:31] hlef commented on #76
Oh, right, my bad. So, the pytest-catchlog package has no reasons of existing if we ship pytest 3.3.2.

Thanks for the quick answer.

[2018-05-30 16:32] marc1n commented on #44
My solution is:

[code]

[2018-06-24 15:26] twmr commented on #76
@hlef, can you close this issue?

[2018-06-24 19:37] The-Compiler commented on #76
Closing this as the catchlog plugin as maintained inside pytest doesn't seem to have this issue, and this plugin is unmaintained.

[2018-06-24 19:37] #76 closed, assigned to nobody

[2020-03-19 14:14] MartinThoma commented on #59
You can simply add a `conftest.py` with the following content:

    import logging

    def pytest_configure(config):
        """Flake8 is very verbose by default. Silence it."""
        logging.getLogger("flake8").setLevel(logging.WARNING)